@charset "UTF-8";

*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

body{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:40px;

    font-family:Arial;

    overflow-y:auto;

    background:
    linear-gradient(
    135deg,
    #020617,
    #1e1b4b,
    #312e81
    );

    color:white;

}


/* CONTAINER */

.container{

    width:95%;

    max-width:900px;

    padding:40px;

    border-radius:30px;

    background:
    rgba(255,255,255,0.08);

    backdrop-filter:blur(14px);

    box-shadow:
    0 0 40px rgba(168,85,247,0.3);

    text-align:center;

}


/* TITLE */

h1{

    font-size:58px;

    margin-bottom:15px;

}

.subtitle{

    font-size:22px;

    color:#ddd6fe;

    margin-bottom:35px;

}


/* TEXTAREA */

textarea{

    width:100%;

    height:180px;

    border:none;

    outline:none;

    resize:none;

    border-radius:20px;

    padding:25px;

    font-size:22px;

    background:
    rgba(0,0,0,0.35);

    color:white;

    margin-bottom:25px;

}


/* BUTTON */

button{

    padding:18px 35px;

    border:none;

    border-radius:18px;

    background:#a855f7;

    color:white;

    font-size:22px;

    font-weight:bold;

    cursor:pointer;

    transition:0.3s;

}

button:hover{

    transform:scale(1.05);

    background:#c084fc;

}


/* OUTPUT */

#outputBox{

    margin-top:35px;

    padding:30px;

    min-height:140px;

    border-radius:22px;

    background:
    rgba(0,0,0,0.35);

    font-size:28px;

    line-height:1.6;

    color:#f5d0fe;

    text-align:left;

}


/* FACT */

#randomFact{

    margin-top:25px;

    font-size:20px;

    color:#c4b5fd;

}


/* MOBILE */

@media(max-width:700px){

    h1{

        font-size:40px;

    }

    .subtitle{

        font-size:18px;

    }

    textarea{

        font-size:18px;

    }

    #outputBox{

        font-size:22px;

    }

}