@charset "UTF-8";

*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

body{

    min-height:100vh;

    overflow-y:auto;

    font-family:Arial;

    background:linear-gradient(
    135deg,
    #020617,
    #1e1b4b,
    #581c87
    );

    color:white;

}

.container{

    width:95%;

    max-width:1400px;

    margin:auto;

    text-align:center;

    padding-top:20px;

    padding-bottom:60px;

}

h1{

    font-size:60px;

    margin-bottom:10px;

}

.subtitle{

    font-size:20px;

    color:#ddd6fe;

    margin-bottom:25px;

}

.controls{

    margin-bottom:20px;

}

button{

    padding:15px 22px;

    margin:5px;

    border:none;

    border-radius:14px;

    background:#c084fc;

    color:white;

    font-size:18px;

    font-weight:bold;

    cursor:pointer;

}

button:hover{

    transform:scale(1.05);

    transition:0.3s;

}

input[type="color"]{

    width:70px;

    height:50px;

    border:none;

    margin-right:10px;

    cursor:pointer;

    background:none;

}

#paintCanvas{

    width:100%;
    height:700px;
    border-radius:25px;

    background:
    radial-gradient(circle at top,
    rgba(255,255,255,0.15),
    transparent 40%),

    linear-gradient(
    180deg,
    #312e81,
    #020617
    );

    box-shadow:
    inset 0 0 100px rgba(255,255,255,0.08);

    display:block;

    cursor:crosshair;

    background-image:
    radial-gradient(white 1px, transparent 1px),
    radial-gradient(#c084fc 1px, transparent 1px),
    linear-gradient(
    180deg,
    #312e81,
    #020617
    );

    background-size:
    120px 120px,
    200px 200px,
    cover;

}

#message{

    margin-top:25px;

    font-size:28px;

    color:#f5d0fe;

}