@charset "UTF-8";

*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

body{

    min-height:100vh;

    overflow-y:auto;

    overflow-x:hidden;

    font-family:Arial;

    background:
    linear-gradient(
    180deg,
    #020617,
    #0f172a,
    #1e1b4b
    );

    color:white;

}


/* LIGHTNING */

#lightning{

    position:fixed;

    width:100%;
    height:100%;

    background:white;

    opacity:0;

    pointer-events:none;

    z-index:999;

}


/* ROOM */

.room{

    width:100%;

    min-height:100vh;

    display:flex;

    flex-direction:column;

    align-items:center;

    padding-top:30px;

}


/* WINDOW */

.window-frame{

    position:relative;

    width:90%;

    max-width:950px;

    height:520px;

    overflow:hidden;

    border-radius:30px;

    border:10px solid rgba(255,255,255,0.08);

    background:
    linear-gradient(
    180deg,
    #020617,
    #0f172a,
    #1e1b4b
    );

    box-shadow:
    inset 0 0 120px rgba(255,255,255,0.05),
    0 0 40px rgba(168,85,247,0.25);

}


/* MOON */

.moon{

    position:absolute;

    width:130px;
    height:130px;

    border-radius:50%;

    right:120px;
    top:60px;

    background:
    radial-gradient(circle,
    #ffffff,
    #dbeafe,
    #93c5fd);

    box-shadow:
    0 0 80px rgba(255,255,255,0.4);

}


/* STARS */

.stars{

    position:absolute;

    width:100%;
    height:100%;

    background-image:
    radial-gradient(white 1px, transparent 1px),
    radial-gradient(#c084fc 1px, transparent 1px);

    background-size:
    120px 120px,
    200px 200px;

    opacity:0.6;

}


/* CITY */

.city{

    position:absolute;

    bottom:0;

    width:100%;
    height:160px;

    background:
    linear-gradient(
    180deg,
    transparent,
    rgba(0,0,0,0.85)
    );

}

.city::before{

    content:"";

    position:absolute;

    width:100%;
    height:100%;

    background-image:
    radial-gradient(#fde047 2px, transparent 2px);

    background-size:45px 45px;

    opacity:0.45;

}


/* RAIN */

#rainContainer{

    position:absolute;

    width:100%;
    height:100%;

    overflow:hidden;

}

.raindrop{

    position:absolute;

    width:3px;

    border-radius:50px;

    background:
    linear-gradient(
    180deg,
    rgba(255,255,255,0.8),
    rgba(255,255,255,0.05)
    );

    opacity:0.45;

    animation:rainFall linear infinite;

}

@keyframes rainFall{

    from{

        transform:
        translateY(-700px);

    }

    to{

        transform:
        translateY(900px);

    }

}


/* FOG */

.fog{

    position:absolute;

    width:100%;
    height:100%;

    background:
    rgba(255,255,255,0.08);

    backdrop-filter:blur(5px);

}


/* WINDOW DRAW */

#windowCanvas{

    position:absolute;

    width:100%;
    height:100%;

    z-index:10;

    cursor:crosshair;

}


/* DESK */

.desk{

    width:90%;

    max-width:950px;

    height:320px;

    border-radius:0 0 30px 30px;

    position:relative;

    background:
    linear-gradient(
    180deg,
    #3f2a1d,
    #1e130d
    );

}


/* CLOCK */

.clock-box{

    position:absolute;

    left:35px;
    top:35px;

    width:190px;
    height:100px;

    border-radius:20px;

    background:
    linear-gradient(
    180deg,
    #111827,
    #020617
    );

    text-align:center;

    padding-top:12px;

    box-shadow:
    0 0 25px rgba(192,132,252,0.3);

}

#clockTime{

    font-size:42px;

    color:#c084fc;

}

#clockDate{

    margin-top:5px;

    color:#ddd6fe;

}


/* PAPER */

.paper-area{

    position:absolute;

    left:250px;
    top:35px;

    width:430px;
    height:240px;

    border-radius:12px;

    overflow:hidden;

    background:white;

}

#paperCanvas{

    width:100%;
    height:100%;

    cursor:crosshair;

}


/* BUTTONS */

.buttons{

    position:absolute;

    right:30px;
    top:40px;

    display:flex;

    flex-direction:column;

}

button{

    padding:15px 24px;

    margin-bottom:15px;

    border:none;

    border-radius:16px;

    background:#7c3aed;

    color:white;

    font-size:18px;

    font-weight:bold;

    cursor:pointer;

    transition:0.3s;

}

button:hover{

    transform:scale(1.05);

    background:#a855f7;

}


/* MOBILE */

@media(max-width:700px){

    .desk{

        height:520px;

    }

    .paper-area{

        width:85%;

        left:50%;

        transform:translateX(-50%);

        top:150px;

    }

    .clock-box{

        left:50%;

        transform:translateX(-50%);

    }

    .buttons{

        top:410px;

        left:50%;

        transform:translateX(-50%);

        right:auto;

    }

}