@charset "UTF-8";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:linear-gradient(
        135deg,
        #1e1b4b,
        #581c87
    );

    color:white;

    font-family:Arial;

    min-height:100vh;

    padding:40px;
}

.container{
    max-width:1200px;
    margin:auto;
}

h1{

    font-size:60px;

    text-align:center;

    margin-bottom:10px;
}

.subtitle{

    text-align:center;

    color:#f5d0fe;

    margin-bottom:40px;
}

.input-section{

    text-align:center;

    margin-bottom:40px;
}

input{

    padding:14px;

    width:220px;

    border:none;

    border-radius:12px;

    margin:10px;

    font-size:16px;
}

button{

    padding:14px 22px;

    border:none;

    border-radius:12px;

    background:#f9a8d4;

    cursor:pointer;

    font-weight:bold;
}

.stats{

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

    margin-bottom:40px;
}

.stat-box{

    background:rgba(255,255,255,0.08);

    padding:25px;

    border-radius:20px;

    width:250px;

    text-align:center;
}

.stat-box h2{

    font-size:38px;

    margin-bottom:10px;
}

.stat-box p{

    color:#f5d0fe;
}

.comparison-box{

    background:rgba(255,255,255,0.08);

    padding:30px;

    border-radius:20px;

    text-align:center;

    font-size:24px;

    line-height:1.6;

    margin-bottom:50px;
}

.timeline-section{

    margin-top:40px;
}

.timeline-section h3{

    text-align:center;

    font-size:34px;

    margin-bottom:30px;
}

#timelineBars{

    display:flex;

    align-items:flex-end;

    justify-content:center;

    gap:8px;

    height:300px;

    flex-wrap:wrap;
}

.bar{

    width:22px;

    background:linear-gradient(
        to top,
        #f472b6,
        #c084fc
    );

    border-radius:10px 10px 0 0;

    transition:0.3s;
}

.bar:hover{

    transform:scaleY(1.1);
}